*{
    margin: 0;
    padding: 0;
}
#topnav{
    display: flex;
    margin: 30px auto;
    align-items: center;
}
#topnav .fornav>ul{
    display: flex;
    width: 45%;
}
#topnav .topdesc{
    width: 45%;
    margin:  auto;
    padding: 8px;
}
#topnav>.topdesc>h2{text-align: center;}
#topnav>.topdesc>h2{
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    text-align: center;
    
}
#topnav .fornav>ul>li>{
    padding: 8px;
    margin: 10px;
}
#topnav .fornav>ul>li>a{
    padding: 8px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight:bold;
    text-decoration: none;
    color:rgb(22, 22, 33);
}

footer{
    margin: 30px;
    text-align: center;
}
table{border-collapse: collapse;}
thead>tr>td{ font-weight: bold;}
tfoot>tr>td{font-weight: 700;}
td{
    border: 1px solid black;
    padding: 6px;
}